<div class="form-container">
    <form action="{{api}}" method="POST" class="form">
        {{#each formItems as |value key|}}
            <div class="form-item">
                <label for={{key}}>{{key}}</label>
                <input type="text" name={{key}}>
            </div>
        {{/each}}
        <input type="submit" value={{button}} class="form-item-submit">
    </form>
</div>